/* moj CSS */
body {
    font-family: 'Lato', sans-serif;
    /* overflow-x: hidden; */
    height: 100vh;
    background-color: rgb(167, 184, 174);
}


h1, h2 {
    font-size: 40px;
    word-spacing: 6px;
    letter-spacing: 1.7px;
}

.wrapper { max-width: 1024px; }

.sourceSansPro { font-family: 'Source Sans Pro', sans-serif; font-weight: 300;}
.sourceSansPro14 { font-family: 'Source Sans Pro', sans-serif; font-size: 14px; font-weight: 300; }
.sourceSansPro16 { font-family: 'Source Sans Pro', sans-serif; font-size: 16px; font-weight: 300; }
.sourceSansPro17 { font-family: 'Source Sans Pro', sans-serif; font-size: 17px; font-weight: 300; }
.sourceSansPro18 { font-family: 'Source Sans Pro', sans-serif; font-size: 18px; font-weight: 300;}
.font20 { font-size: 20px; }
.font26 { font-size: 26px; }
.font36 { font-size: 36px; }
.tabsMy { color: rgba(96, 96, 96, 0.6); font-size: 21px; }
.shopHeader { background-color: rgba(235,235,235, 0.5); }

.opacity80 { opacity: 80%; }
.opacity60 { opacity: 60%; }
.opacity30 { opacity: 30%; }

.reviewPad { padding-top: 2px; }
.cardPad { padding-bottom: 2px;}
.footerPad { padding-top: 1px; padding-bottom: 2px;}
.shopNow { width: 182px; }
.shopNow2 { width: 158px; height: 54px; }
.subscribeBtn { width: 140px; height: 42px; }
.heightMy { height: 31px; }
.heightMy2 { height: 54px; }
.height41 { height: 41px; }
.productSmallImg { border: 1px solid #7a7a7a; }
.productSelect { width: 216px; height: 41px; }

.nav-tabs .nav-link.active {
    background-color: rgba(122, 122, 122, 0);
    font-weight: bold;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #606060b0;
}
.nav-tabs .nav-link:hover { border: none;}
.nav-tabs .nav-link.active:hover { border-bottom: 2px solid #606060b0; }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* Vertical line in navbar */
    .navigacija>ul { list-style:none; }
    .navigacija>ul li{
        display:inline-block; 
        padding:0 7px; 
        position:relative;
    }
    .navigacija>ul li:not(:last-child)::after{
        content:""; 
        border: 4px solid #606060;
        opacity: 40%;
        border-width: 1px 1px 0 0;
        position:absolute; 
        right:-3px; 
        top: 13px; 
        height: 36%;
    }
}

.borderInput { border: 1px solid #606060cc !important; }

.searchMy { width: 310px; }
.searchMy2 { width: 428px; }
.selectProduct { width: 212px; }

/* On mobile */
@media screen and (max-width: 420px) {
    .searchMy { width: 115px; margin: 0px;}
    .searchMy2 { width: auto; margin: 0px; }
    .searchMy3 { width: auto !important; }
    .productSelect {width: auto; height: auto;}
    .shopNow { width: 100% !important; }
    /* .selectProduct { width: 180px; } */
}

.linija { opacity: 30%; }
.linija2 { width: 35%; }

/* Star rating */
.rating {
    float:left;
  }
.rating:not(:checked) > input {
    position:absolute;
    /* top:-9999px; */
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    /* padding:0 .1em; */
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:22px;
    /* line-height:1.2; */
    color:rgb(212, 212, 212);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #7a7a7a;
    
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #7a7a7a;
    
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #7a7a7a;
    
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.avatar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border: 1px solid #606060;
    border-radius: 50%;
    height: 50px;
}
